
  </textarea>

  <canvas class="screen" width="160" height="160"></canvas>

  <div class="debugger">
    <input type="checkbox" class="debug" name="debug" />
    <label for="debug">Depurador</label>
    <div class="minidebugger"></div>
    <div class="buttons">
      <input type="button" value="Um paço" class="stepButton" />
      <input type="button" value="Pule para..." class="gotoButton" />
    </div>
  </div>

  <div class="monitorControls">
    <label for="monitoring">Monitor</label>
    <input type="checkbox" class="monitoring" name="monitoring" />

    <label for="start">Start: $</label>
    <input type="text" value="0" class="start" name="início" />
    <label for="length">Length: $</label>
    <input type="text" value="ff" class="length" name="tamanho" />
  </div>

  <div class="monitor"><pre><code></code></pre></div>
  <div class="messages"><pre><code></code></pre></div>

  <div class="notes" style="display: none">Notas:

A posição de memória $fe contém alguns bytes aleatórios a cada instrução.
A posição de memória $ff contém o código ascii para a última tecla pessionada.
  
As posições de memória $200 até $5ff estão mapeadas nos píxels da tela.
Valores diferentes produzem pixels de cores diferentes.
As cores são:

$0: Preto
$1: Branco
$2: Vermelho
$3: Ciano
$4: Roxo
$5: Verde
$6: Azul
$7: Amarelo
$8: Laranja
$9: Marrom
$a: Vermelho Claro
$b: Cinza Escuro
$c: Cinza
$d: Verde Claro
$e: Azul Claro
$f: Cinza Claro
    </div>
</div>
