<div class="widget">
  <div class="buttons">
    <input type="button" value="Compilar (Assemble)" class="assembleButton" />
    <input type="button" value="Rodar (Run)" class="runButton" />
    <input type="button" value="Reiniciar (Reset)" class="resetButton" />
    <input type="button" value="Examinar (Hexdump)" class="hexdumpButton" />
    <input type="button" value="Descompilar (Disassemble)" class="disassembleButton" />
    <input type="button" value="Notas (Notes)" class="notesButton" />
  </div>

  <textarea class="code">
